/* Estilos base */
body {
    background:#eae2b7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.encabezado {
     background-color: #370617;
     background-size: 100%;
    color: white;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    text-align: left;
}

.logo {
    height: auto;
    width: 150px;
}

.text-encabezado {
    color:#fdfdfd;
  font-size: 60px;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 50px;
}

/* Principal */
.principal {
    display: flex;
    flex-wrap: wrap;
    /* Para que los elementos se envuelvan en múltiples líneas */
    justify-content: space-around;
    padding: 20px;
}

.textarea {
    background: #03071e;
    border: solid 4px;
    border-color: #f48c06;
    border-radius: 25px;
    color: white;
    margin: 10px;
    max-width: 400px;
    /* Establecer un ancho máximo */
    padding: 10px;
    width: calc(100%);
}

.mensaje {
    border: solid 4px;
    border-color: #03071e;
    border-radius: 25px;
    color: black;
    margin-bottom: 10px;
    max-width: 400px;/* Establecer un ancho máximo */
    padding: 10px;
    width: calc(100%);
}

.informacion {
    text-align: center;
}

.botones {
    display: flex;
    justify-content: center;
}

.btn-encriptar,
.btn-desencriptar {
    background-color: #f48c06;
    border-bottom-width: 5px;
    border-radius: 30px;
    color: rgb(229, 237, 240);
    font-size: 19px;
    font-weight: bold;
    height: 40px;
    margin-inline: 5px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}


.copiar {
    align-items: center;
    background-color: #f48c06;
    border-bottom-width: 5px;
    border-radius: 30px;
    color: rgb(229, 237, 240);
    font-size: 19px;
    font-weight: bold;
    height: 40px;
    margin-left: 100px;
    margin-top: 77px;
    text-align: center;
    width: 200px;
}

/* Footer */
footer {
    background-color: #370617;
    background-size: 100%;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}